.grid{
    &-wrapper{
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
        position: relative;

    }

    &-pills{
        display: none;

        @media screen and (min-width: 1000px) {
            display: block;
        }
    }

    &-grid{
        height: 100%;
        width: 100%;
        display: grid;
        justify-content: center;
        margin-top: 50px;

        grid-template-columns: repeat(2, 170px);
        grid-auto-rows: 170px;
        column-gap: 20px;
        row-gap: 20px;

        @media screen and (min-width: 768px) {
            width: 80vw;
        }
    
        @media screen and (min-width: 1000px) {
            
        grid-template-columns: repeat(4, 250px);
        }

        section{
            background-color: green;
        }
    }




   

}