<input type="text" (input)="select(input.value)" #input placeholder="Search a pokemon" (keypress)="manualSelect($event, input.value)" [(ngModel)]="selectItem"> 
@if(suggestions().length > 0){
    <ul class="suggestions">
        @for(suggestion of suggestions(); track suggestion){
            <li>
                <a (click)="closeSuggestions()"
                [routerLink]="['/','pokemon']" 
                [queryParams]="{name: suggestion.name}"
                [queryParamsHandling]="'merge'" 
                [innerHTML]="suggestion.name | textBold : input.value"
                ></a></li>
        }
    </ul>
    
}
