<input type="text" (input)="select(input.value)" #input placeholder="Search a pokemon" (keypress)="manualSelect($event, input.value)"> 
@if(suggestions().length > 0){
    <ul class="suggestions">
        @for(suggestion of suggestions(); track suggestion){
            <li>
                <a 
                [routerLink]="['/','pokemon']" 
                [queryParams]="{name_name: suggestion.name}" 
                [innerHTML]="suggestion.name | textBold : input.value"
                ></a></li>
        }
    </ul>
    
}
