<div class="panel" [ngClass]="{'display': displayPanel}">
   <div class="filter">
        <app-search-box></app-search-box>
   </div>
   <div class="filter">
        <label class="filter__title" for="type">Type</label>
        <div class="filter__select-wrapper">
          <select class="filter__select" name="" id="type">
               <option value="">hi</option>
               <option value="">hi</option>
               <option value="">hi</option>
               <option value="">hi</option>
             </select>     
        </div>
   </div>
   <div class="filter">
        <label class="filter__title">Species</label>
        <app-species></app-species>
   </div>
</div>

<button class="mob-filter" (click)="showPanel()">
     <span></span>
     <span></span>
     <span></span>
</button>