<div class="panel" [ngClass]="{'display': displayPanel}">
     <app-pills [size$]="'mob'"></app-pills>
   <div class="filter">
        <app-search-box></app-search-box>
   </div>
   <div class="filter">
        <label class="filter__title" for="type">Type</label>
          <app-select-option [filterType]="filterTypes.TYPES"></app-select-option>
   </div>
   <div class="filter">
        <label class="filter__title">Species</label>
        <app-select-option [filterType]="filterTypes.COLOR"></app-select-option>
   </div>

   <div class="filter">
     <span>Showing </span><span>({{displayed()}})</span>
   </div>
   <div class="filter">
     <span>Total results: </span><span>({{total()}})</span>
   </div>
</div>

<button class="mob-filter" (click)="showPanel()">
     <span></span>
     <span></span>
     <span></span>
</button>