
    <div class="card" [ngStyle]="{'background-color': pokemon().species['color'] ? pokemon().species['color']['name'] : 'white'}">
        <section>
            <h6 class="card__title" [ngStyle]="{ 'color' : pokemon().species['color'] && pokemon().species['color']['name'] === 'black' ? 'white' : 'black'}">{{pokemon().name}}</h6>
        </section>
        <section class="card__img">
            <img [src]="pokemon().sprites.front_default" [alt]="pokemon().name">
        </section>
        <section class="card__type">
            <h6 class="card__title" [ngStyle]="{ 'color' : pokemon().species['color'] && pokemon().species['color']['name'] === 'black' ? 'white' : 'black'}" >Type</h6>
            <ul class="card__list">
                @for(i of pokemon().types; track i){
                    <li [ngStyle]="{ 'color' : pokemon().species['color'] && pokemon().species['color']['name'] === 'black' ? 'white' : 'black'}">{{i.type.name}}</li>
                }
            </ul>
        </section>
    </div>    


